#sky {
  background: url('../images/tausta.jpg');
  background-size: 800px 600px;
  background-color: #aaaaff;
  position: relative;
  width: 800px;
  height: 600px;
}
#fairy { 
  background-image: url('../images/keiju.png');
  background-size:160px;;
  background-repeat:no-repeat;
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
}
#spaceman { 
  background-image: url('../images/avaruusmies.png');
  background-size:160px;;
  background-repeat:no-repeat;
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
}
