body {
  background: #CBCFCF;
}
h1 {
  display: none;
}
#instructions {
  position: absolute;
  left: 150;
  top: 50;
  width: 500;
  height: 430;
  font-family: arial;
  font-size: 38px;
  background: url('../images/ohjeet.jpg') no-repeat;
  background-size: 500;
  border-style:solid;
  border-width:kpx;
  border-color: black;
  border-radius: 10px;
  display: none;
}
  
#sky {
  background: url('../images/tausta.jpg');
  background-color: #aaaaff;
  position: relative;
  margin: 20px auto;
  border-style:solid;
  border-width:5px;
  border-color: #A8A8A8;
  border-radius: 10px;
}
#sun { 
  background-image: url('../images/aurinko.png');
  background-repeat:no-repeat;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  width: 256px;
  height: 256px;
}
#fairy { 
  background-image: url('../images/keiju.png');
  background-repeat:no-repeat;
  position: absolute;
  display: block;
}
#spaceman { 
  background-image: url('../images/avaruusmies.png');
  background-repeat:no-repeat;
  position: absolute;
  display: block;
}
#elephant { 
  background-image: url('../images/norsu1.png');
  background-repeat:no-repeat;
  position: absolute;
  display: block;
  left: 100px;
  bottom: 10px;
  width: 200px;
  background-size: 200;
  height: 100px;
}
